body{
    font-family: Arial,Helvetica,san-serif;
    background-image: linear-gradient(white, black);
}

.button{
    font-size:20px;
    border:2px solid rgb(174, 81, 174);
    border-radius: 5px;
    padding: 2px;
    font-style: bold;
}
.button:hover{
    background-color:rgb(174, 81, 174);
    color: white;
}
.button:active{
    transform: translateY(3px);
}